@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes-Bold.woff2') format('woff2'),
        url('font/TTLakes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes-Regular.woff2') format('woff2'),
        url('font/TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: TT Lakes;
    font-weight: normal;
    background-color: #F8F8F8;
    margin: 0;
}

button {
    font-family: TT Lakes;
    font-weight: normal;
    border: none;
    background-color: #F8F8F8;
    padding: 0;
}

.show-btn {
    font-family: TT Lakes;
    font-weight: normal;
    border: none;
    font-size: 16px;
    background-color: #F8F8F8;
    visibility: hidden;
    white-space: pre-wrap;
}

.arrows-top {
    position: relative;
    right: -1%;
}

.rot {
    transform: rotate(180deg);
}

.brend-list__show-button {
    display: flex;
    justify-content: start;
    align-items: center;
    transition: opacity 0.25s;
}

li {
    padding: 15px 10px;
    display: flex;
    width: 240px;
    height: 71px;
    background-color: white;
    list-style-type: none;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px lightgray solid;

}

ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
}


.lenovo {
    background-image: url(images/br-log/lenovo.png);
}

.samsung {
    background-image: url(images/br-log/samsung.png);
}

.apple {
    background-image: url(images/br-log/apple.png);
}

.vs {
    background-image: url(images/br-log/ViewSonic.png);
}

.bosch {
    background-image: url(images/br-log/bosch.png);
}

.hp {
    background-image: url(images/br-log/hp.png);
}

.acer {
    background-image: url(images/br-log/acer.png);
}

.sony {
    background-image: url(images/br-log/sony.png);
}

.brend-logo {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 50%;
}

.arrow-next {
    background-image: url(images/icons/go.svg);
    width: 65px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 50%;
    margin-left: 40px;
    transition: opacity 0.25s;
}

.arrow-next:hover {
    opacity: 70%;
    cursor: pointer;
    transition: 0.25s;
}

.brend-list__logo {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    overflow: visible;
    justify-content: space-between;
    transform: all 0.25s;
}

.brend-list__show-button:hover {
    opacity: 70%;
    transition: 0.25s;
    cursor: pointer;
}


.header-block__brend-title {
    font-size: 16px;
    text-transform:uppercase;
    color: #7E7E82;
    align-items: center;
    border-top: 1px #D9FFF5 solid;
    display: flex;
    width: 100vw;
    height: 55px;
    background: linear-gradient(to right, #F8F8F8, white);
    padding: 10px 0px;
}

/* СЛАЙДЕР ДЛЯ МОБИЛКИ */
  
.dots {
    display: none;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: lightgray;
    cursor: pointer;
    transition: all 0.3s;
}

.bullet.active {
    background: gray;
}

.slider {
    scroll-snap-align: start;
}

.fix-block {
    visibility: hidden;
}


@media (min-width: 320px) {

    .header-block__brend-title {
        padding-left: 15px;
    }

    .dots {
        display: flex;
    }

    li {
        width: 240px;
        flex-shrink: 0;
    }

    .brend-list__logo {
        height: auto;
        flex-wrap: nowrap;
        overflow: scroll;
        margin: 15px 15px;
    }

    .brend-list__logo::-webkit-scrollbar { 
        width: 0;
    }

    .fix-block {
        display: none;
    }

    .arrows-top {
        visibility: hidden;
    }

    .fix-block,
    .fix-block1,
    .fix-block2,
    .fix-block3 {
        display: none;
    }

    .unvisib {
        display: none;
    }
}

@media (min-width: 768px) {

    .arrows-top {
        visibility: visible;
    }

    .dots {
        display: none;
    }

    .show-btn {
        visibility: visible;
        
    }

    .brend-list__show-button {
      margin-left: 5px;  
    }

    .brend-list__logo {
        flex-wrap: wrap;
        margin: 20px 20px;
        margin-bottom: 5px;
        transition: height 1s;
    }

    .open-brend-list {
        height: 360px;
        transition: 1s;
    }

   li {
    width: 222px;
   } 

   .header-block__brend-title {
    padding-left: 20px;
    }

    .show-btn {
        padding-left: 15px;
    }

    .fix-block {
        display: flex;
    }

    .closed-brend-list {
        height: 180px; 
     }

     .fix-block1 {
        display: flex;
        visibility: hidden;
     }

     .fix-block2 {
        visibility: hidden;
     }

     .fix-block3 {
        display: none;
     }

     .unvisib {
        display: none;
    }

    .fix-block3 {
        display: none;
    }

    .fix-block2 {
        display: none;
    }

}

@media (min-width: 1120px) {

    .brend-list__show-button {
        margin-left: 15px;
    }

    .header-block__brend-title {
        padding-left: 30px;
    }

    .brend-list__logo {
        margin: 30px 30px;
        margin-bottom: 5px;
    }

    li {
        width: 240px;
       } 
    
    .unvisib {
        display: none;
    }

    .fix-block1 {
        visibility: none;
     }

     .fix-block2 {
        display: none;
     }

     .open-brend-list {
        height: 268px;
        transition: 1s;
    }


} 

@media (min-width: 1600px) {

    .unvisib {
        display: flex;
    }

    
    .fix-block1,
    .fix-block2 {
        display: flex;
        visibility: hidden;
     }
}

@media (min-width: 1860px) {

    .fix-block3 {
        display: flex;
        visibility: hidden;
    }
}